SMTP_HOST=smtppro.zoho.com
SMTP_PORT=587
SMTP_SECURE=tls
SMTP_USERNAME=mcorderoaraya@almadesign.cl
SMTP_PASSWORD=CAMBIAR_POR_APP_PASSWORD_O_PASSWORD_SMTP
SMTP_FROM=mcorderoaraya@almadesign.cl
SMTP_FROM_NAME=AlmaDesign Web
CONTACT_TO=mcorderoaraya@almadesign.cl
CONTACT_SUBJECT_PREFIX=[AlmaDesign]
